html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('koza-priroda-fon.jpg');
    background-color: springgreen;
    background-position: center;
    background-repeat: repeat;
    color: darkgreen;
    font-size: 24px;
    overflow: auto;
}

#main {
    margin: 0px auto;
    width: 1000px;
    min-height: 100%;
    background: #dbfcdb;
    background-attachment: fixed;
    font-family: sans-serif;
    text-align: center;
}




